<app-side-header header="My Transactions" [breadcrumb]="breadcrumb"></app-side-header>
<div class="all-orders">
  <table class="table">
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Date </th>
        <th>Transaction Detail</th>
        <th>Amount Debit </th>
        <th>Amount Credit</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <td>0</td>
        <td>12-2-2022</td>
        <td>Shirt Blue </td>
        <td>100</td>
        <td>0</td>
        <td>500</td>
      </tr>
      <tr class="table-primary">
        <td>1</td>
        <td>12-2-2022</td>
        <td>Shirt Blue </td>
        <td>100</td>
        <td>0</td>
        <td>500</td>
      </tr>
      <tr class="table-success">
        <td>2</td>
        <td>12-2-2022</td>
        <td>Shirt Blue </td>
        <td>100</td>
        <td>0</td>
        <td>500</td>
      </tr>
      <tr class="table-danger">
        <td>3</td>
        <td>12-2-2022</td>
        <td>Shirt Blue </td>
        <td>100</td>
        <td>0</td>
        <td>500</td>
      </tr>
      <tr class="table-info">
        <td>4</td>
        <td>12-2-2022</td>
        <td>Shirt Blue </td>
        <td>100</td>
        <td>0</td>
        <td>500</td>
      </tr>
      <tr class="table-warning">
        <td>5</td>
        <td>12-2-2022</td>
        <td>Shirt Blue </td>
        <td>100</td>
        <td>0</td>
        <td>500</td>
      </tr>
      <tr class="table-active">
        <td>6</td>
        <td>12-2-2022</td>
        <td>Shirt Blue </td>
        <td>100</td>
        <td>0</td>
        <td>500</td>
      </tr>
      <tr class="table-secondary">
        <td>7</td>
        <td>12-2-2022</td>
        <td>Shirt Blue </td>
        <td>100</td>
        <td>0</td>
        <td>500</td>
      </tr>
    </tbody>
  </table>
</div>
<app-pageination></app-pageination>