<p>cart works!</p>
<app-side-header header="Shopping Cart" [breadcrumb]="breadcrumb"></app-side-header>
<div class="cart ">
  <div class="row">
    <div class="col-md-4">
      SPACE FOR PRODDUCT IMAGE
    </div>
    <div class="col-md-4">
      Product Name: <br />
      Product Description:<br />
      Quantity:<br />
      Color:<br />
    </div>
    <div class="col-md-4">
      <span class="badge bg-warning ">Out of Stock</span>
      <span class="badge bg-success ">In Stock</span>
      <h3>Price: $1,000/-</h3>
      <button class="btn btn-danger "> Delete from cart</button>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <button class="btn btn-success "> Proceed to Pay</button>
    </div>
  </div>
</div>