<app-side-header header="Order Details" [breadcrumb]="breadcrumb"> </app-side-header>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Item Details
      </button>
    </h2>

    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="row">
          <div class="col-md-3">
            <app-item-card></app-item-card>>
          </div>
          <div class="col-md-8">
            <p>Product Name: {{productName}} </p>
            <p>Product Description: {{productDesc}}</p>
            <p>Product Size: {{productSize}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        Address Details
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="row">
          <div class="col-md-8">
            <p><b>Customer Name:</b>{{custName}}</p>
            <p><b>Customer Contact:</b>{{custContact}}</p>
            <p><b>Address:</b> {{custAddress}} </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        Price and Cost
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <h4> Amount Payable :</h4>
        <h6> Discounted Amount : </h6>
        <h6> Available Balance : </h6>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-6 text-center ">
    <button class="btn btn-danger">
      Reject & Empty Cart
    </button>
   
  </div>
  <div class="col-md-6 text-center ">
    <button class="btn btn-success">
      Confirm & Place Order
    </button>
   
  </div>
</div>