<div class="container mt-3">
  <app-breadcrumb></app-breadcrumb>
  <h2>Address</h2>
  <form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="email">Name:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
      <label for="pwd">Contact:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="mb-3">
      <label for="comment">Address:</label>
      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>