<app-side-header header="Product Detail" [breadcrumb]="breadcrumb"></app-side-header>
<div class="row">
  <div class="col-md-6 text-center">
    <img src="{{fullimage}}" class="img-thumbnail" />
  </div>
  <div class="col-md-6">
    <h3> {{productName}}</h3>
    <h4> other</h4>
    <p> {{description}}</p>
    <div class="size">
      <ul class="nav">
        <li class="nav-item me-1 " *ngFor="let item of size">
          <a class="nav-link bg-dark text-white rounded-bottom {{Stockclass}}" href="#">{{item}}</a>
        </li>

      </ul>
    </div>

  </div>

</div>