

<hr>

<div class="container">
  <h5 class="text-dark"> Order Details:</h5>
  <table class="table table-striped table-inverse table-responsive text-center">
    <thead class="thead-inverse">
      <tr>
        <th>Sr. No.</th>
        <th>Date & Time</th>
        <th>Item name</th>
        <th>Price</th>
        <th>Owner Details</th>
        <th>Agent Details</th>
        <th>Courier Partner</th>
        <th>Courier number</th>
        <th> Contact Number</th>
        <th>Action </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center" >1</td>
        <td >20/12/2020</td>
        <td >Suit Yellow</td>
        <td >1,000/- </td>
        <td >Lorem</td>
        <td >Ipsum</td>
        <td >Dolor</td>
        <td >123456789</td>
        <td >Dolor Sit</td>
        <td >SUCCESS </td>
      </tr>
      <tr>
        <td >2</td>
        <td>20/12/2020</td>
        <td>Saree RED</td>
        <td>20,000/- </td>
        <td>Lorem</td>
        <td>Ipsum</td>
        <td>Dolor</td>
        <td>123456789</td>
        <td>Dolor Sit</td>
        <td>REJECT </td>
      </tr>
      <tr>
        <td scope="row">3</td>
        <td>20/12/2020</td>
        <td>Saree RED</td>
        <td>20,000/- </td>
        <td>Lorem</td>
        <td>Ipsum</td>
        <td>Dolor</td>
        <td>123456789</td>
        <td>Dolor Sit</td>
        <td>REJECT </td>
      </tr>
      <tr>
        <td scope="row">4</td>
        <td>20/12/2020</td>
        <td>Saree RED</td>
        <td>20,000/- </td>
        <td>Lorem</td>
        <td>Ipsum</td>
        <td>Dolor</td>
        <td>123456789</td>
        <td>Dolor Sit</td>
        <td>REJECT </td>
      </tr>
    </tbody>
  </table>

  
</div>