<div class="list-group list-group-flush">
  <a class="list-group-item list-group-item-light disabled">
    <div class="card border-0 ">
      <img class="card-img rounded-circle" src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
        alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Admin.</p>
      </div>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light ">
    My Profile
  </a>
  <a href="/products" class="list-group-item list-group-item-action list-group-item-light active">
    All Products <i class="fa fa-shirt float-end" aria-hidden="true"></i>
  </a>
  <a href="/addProducts" class="list-group-item list-group-item-action list-group-item-light ">
    Add Products <i class="fa fa-shirt float-end" aria-hidden="true"></i>
  </a>
  <a href="/product-detail" class="list-group-item list-group-item-action list-group-item-light ">
    Product Detail <i class="fa fa-shirt float-end" aria-hidden="true"></i>
  </a>
  <a href="/orders" class="list-group-item list-group-item-action list-group-item-light">
    All Orders <i class="fa fa-first-order float-end" aria-hidden="true"></i>
  </a>
  <a href="/order-detail" class="list-group-item list-group-item-action list-group-item-light">
    Order Detail <i class="fa fa-first-order float-end" aria-hidden="true"></i>
  </a>
  <a href="/transactions" class="list-group-item list-group-item-action list-group-item-light">
    My Transaction <i class="fa fa-file float-end" aria-hidden="true"></i>
  </a>
  <a href="/wallet" class="list-group-item list-group-item-action list-group-item-light">
    Wallet <i class="fas fa-wallet float-end" aria-hidden="true"></i>
  </a>
  <a href="/settings" class="list-group-item list-group-item-action list-group-item-light">
    Settings <i class="fa fa-gear float-end" aria-hidden="true"></i>
  </a>
  <a href="/messages" class="list-group-item list-group-item-action list-group-item-light">
    Messages <i class="fa fa-envelope float-end" aria-hidden="true"></i>
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">
    LOGOUT <i class="fa fa-sign-out float-end" aria-hidden="true"></i>
  </a>


</div>