<div class="list-group list-group-flush">
  <a class="list-group-item list-group-item-light disabled">
    <div class="card border-0 ">
      <img class="card-img rounded-circle" src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
        alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Admin.</p>
      </div>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">
    My Profile
  </a>
  <a href="/products" class="list-group-item list-group-item-action list-group-item-light active">
    My Products
  </a>
  <a href="/orders" class="list-group-item list-group-item-action list-group-item-light">
    My Orders
  </a>
  <a href="/transactions" class="list-group-item list-group-item-action list-group-item-light">
    Transaction Report
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">
    Settings
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">
    Messages <span class="badge bg-info rounded-pill">12</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">
    Notifications <span class="badge bg-success rounded-pill">12</span>
  </a>


</div>